/* Avantlink Table */

table
{
        width: 100%; !important;
}
      table tr th
{
        text-align: left; !important;
        padding: 0 30px; !important;
}
      table tr td
{
        padding: 0 30px; !important;
}



a{
	text-decoration:none !important;
	
}

li {
margin:0;
padding-left:5px !important;
}
ul {
margin:0;
padding-left:0px !important;
}

/* hr style */
hr.hr_bottom
{
color: #FF8000;
background-color: #FF8000;
height: 10px;
}
/* change side margin of blog to make it wider  */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
{
   
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 0 px !important;
    margin-right: 0 px !important;
}



/* Destination page */

.col-lg-12-destination, .col-md-12-destination, .col-sm-12-destination, .col-xs-12-destination
{
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 0 px !important;
    margin-right: 0 px !important;
}

.page-content
{
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.post-content
{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.wrapper
{
     padding-right: 0 !important; /*15px in bootstrap.css*/
     padding-left: 0 !important;  /*idem*/
     margin-right: auto; /*auto*/
     margin-left: auto; /*auto*/
}


/* submit and search button on blog */



input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.orange{
background:#FF8000;
}



.headline a:visited {color:black;font-weight:normal; }
.headline a:link {color:black;font-weight:normal; }
.headline a:hover {color:black;font-weight:normal; }


.emptyTag {
}
.av_search_results_table {
	border: 0px solid black;
	background-color: #e0e0e0;
	width: 100%;
}
.av_search_results_navigation {
	font-family: Verdana;
	font-size: 75%;
	background-color: #e0e0e0;
}
.av_search_results_column_titles {
	font-family: Verdana;
	font-size: 90%;
	background-color: #ffffff;
	text-align: left;
	text-wrap: none;
}
.av_search_results_list_row_odd {
	background-color: #ffffff;
}
.av_search_results_list_row_even {
	background-color: #f0f0f0;
}
.av_search_results_list_row_hover {
	background-color: #e0e0e0;
}
.av_search_results_grid_column {
	border: 0px solid black;
	text-align: middle;

}
.av_search_results_grid_row {
	background-color: #ffffff;
}


img {
          display: block;
          height: auto;
          max-width: 100%;
  }
   
   
html,body{height:100%;}#footer{height:30px;background-color:#eeeeee}#footer p{line-height:30px;margin-bottom:0}

#footer {
  background-color: #eeeeee;
    color: #000000



}



/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }


body{
font: line-height: 200%;
}


#mc_embed_signup input.email{
    display:inline-block;
}

#mc_embed_signup input.button {
    display:inline-block;
}


//Image Hover Effect
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.navbar-default {
    background-color:#FFFFFF !important;
    

}



// Post Next or Prev
.page_nav {
    display: block;
    font-size: 14px;
    overflow: hidden;
    width: auto;
}
.page_nav a {
    display: block;
    float: left;
    margin: 1em 0;
    width: 50%;
}
.page_nav .next {
    text-align: right;
}


body {
font-family: 'Lato', Verdana, Arial,sans-serif !important;
font-size: 24px !important;
letter-spacing: 0px !important;
line-height: 1.8em !important;


}

select, input, button {
    border-width: 0px !important;
}



input {
    border: 2px solid white !important; 
    -webkit-box-shadow: 
      inset 0 0 4px rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1) !important; 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1) !important; 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1) !important;
    padding: 5px;
    background: rgba(255,255,255,0.5) !important;
    margin: 0 0 5px 0 !important;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color:#000000;

}

.navbar .navbar-collapse {
    text-align: center;
  
}
.navbar-default {
    border-color: white !important;
    border:0 !important;
}

.navbar-nav a { font-weight: 400 !important; font-size: 25px !important; }

.site-footer {
  border-top-width:0px !important;
  padding: 0px 0 !important;
}


/* Full width*/


.my-fluid-container {

  padding-left: 15px;

  padding-right: 15px;

  margin-left: auto;

  margin-right: auto;

}




/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }












/* RSS */
div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.demo span {
    display: table-cell;
    text-align: center;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
