/* submit and search button on blog */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.orange{
background:#FF8000;
}


/* Logo positioning */
.headline {
  position: relative;
  z-index: 1;
  left: 0px;
  top: 0px;

  text-decoration: none;
}




.headline a:visited {color:black;font-weight:normal; }
.headline a:link {color:black;font-weight:normal; }
.headline a:hover {color:black;font-weight:normal; }

.logo {
  position: absolute;
  z-index: 1;
  
  top: 5px;
  align: right;
}


.emptyTag {
}
.av_search_results_table {
	border: 0px solid black;
	background-color: #e0e0e0;
	width: 100%;
}
.av_search_results_navigation {
	font-family: Verdana;
	font-size: 75%;
	background-color: #e0e0e0;
}
.av_search_results_column_titles {
	font-family: Verdana;
	font-size: 90%;
	background-color: #ffffff;
	text-align: left;
	text-wrap: none;
}
.av_search_results_list_row_odd {
	background-color: #ffffff;
}
.av_search_results_list_row_even {
	background-color: #f0f0f0;
}
.av_search_results_list_row_hover {
	background-color: #e0e0e0;
}
.av_search_results_grid_column {
	border: 0px solid black;
	text-align: middle;

}
.av_search_results_grid_row {
	background-color: #ffffff;
}
img {
          display: block;
          height: auto;
          max-width: 100%;
   }
html,body{height:100%;}#wrap{min-height:100%;height:auto;margin:0 auto -30px;padding:0 0 30px}#footer{height:30px;background-color:#eeeeee}#footer p{line-height:30px;margin-bottom:0}

#footer {
  background-color: #eeeeee;
    color: #000000



}



/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

body{
font: 16px Verdana, serif;line-height: 200%;
}

/* RSS */
div.demo {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
div.demo span {
    display: table-cell;
    text-align: center;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

#mc_embed_signup input.email{
    display:inline-block;
}

#mc_embed_signup input.button {
    display:inline-block;
}


//Image Hover Effect
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.navbar-default {
    background-color:#FFFFFF !important;
    

}



ul#menu li {
    display:inline;
    padding-left: 1em !important;
    list-style-type: none !important;
    list-style:none !important;

    

}


// Post Next or Prev
.page_nav {
    display: block;
    font-size: 14px;
    overflow: hidden;
    width: auto;
}
.page_nav a {
    display: block;
    float: left;
    margin: 1em 0;
    width: 50%;
}
.page_nav .next {
    text-align: right;
}


body {
font-family: 'Lato', Verdana, Arial,sans-serif !important;
font-size: 18px !important;
letter-spacing: 0px !important;
line-height: 1.8em !important;


}

select, input, button {
    border-width: 0px !important;
}



input {
    border: 2px solid white !important; 
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1) !important; 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1) !important; 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1) !important;
    padding: 5px;
    background: rgba(255,255,255,0.5) !important;
    margin: 0 0 5px 0 !important;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color:#000000;

}

.navbar .navbar-collapse {
    text-align: center;
  
}
.navbar-default {
    border-color: white !important;
    border:0 !important;
}

.navbar-nav a { font-weight: 400 !important; font-size: 25px !important; }

.site-footer {
  border-top-width:0px !important;
  padding: 0px 0 !important;
}


// Tags


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #FF8000;
  color: white;
}

.tag:hover::after {
   border-left-color: #FF8000;
}


/*=================================================
Class Definitions
=================================================*/


.sb {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  width: 500px;
  height: 200px;
  background: white;
  padding: 25px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  z-index: 1999;
  opacity: 0;
}

.sb h2 {
  margin-top: 0;
}

.sb p {
  font-size: 20px;
}

.sb form input[type='text'], .sb form input[type='password'], .sb form input[type='email'], .sb form textarea{
  margin: 0;
  border: none;
  background: #f7f7f7;
  padding: 18px 10px;
  font-size: 16px;
  width: 79%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sb form input[type='submit']{
  padding: 18px 10px;
  background: none;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: black;
  color: white;
  width: 20%;
  margin: 0;
}

.sb .sb-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
}

.sb.sb-withoverlay {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -250px;
}


.sb-open.sb-open-with-overlay {
  overflow: hidden;
}

.sb-open .sb-overlay {
  opacity: 1;
}

.sb-open .sb {
  opacity: 1;
}

.sb-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.58);
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}

.sb-close-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

[class^="sb-animation-"], [class*=" sb-animation-"] {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}

.sb-animation-flyInRight {
  -webkit-animation-name: flyInRight;
	-moz-animation-name: flyInRight;
	-o-animation-name: flyInRight;
	animation-name: flyInRight;
}

.sb-animation-flyOutRight {
  -webkit-animation-name: flyOutRight;
	-moz-animation-name: flyOutRight;
	-o-animation-name: flyOutRight;
	animation-name: flyOutRight;
}

.sb-animation-flyInLeft {
  -webkit-animation-name: flyInLeft;
	-moz-animation-name: flyInLeft;
	-o-animation-name: flyInLeft;
	animation-name: flyInLeft;
}

.sb-animation-flyOutLeft {
  -webkit-animation-name: flyOutLeft;
	-moz-animation-name: flyOutLeft;
	-o-animation-name: flyOutLeft;
	animation-name: flyOutLeft;
}

.sb-animation-flyInUp {
  -webkit-animation-name: flyInUp;
	-moz-animation-name: flyInUp;
	-o-animation-name: flyInUp;
	animation-name: flyInUp;
}

.sb-animation-flyOutUp {
  -webkit-animation-name: flyOutUp;
	-moz-animation-name: flyOutUp;
	-o-animation-name: flyOutUp;
	animation-name: flyOutUp;
}

.sb-animation-flyInDown {
  -webkit-animation-name: flyInDown;
	-moz-animation-name: flyInDown;
	-o-animation-name: flyInDown;
	animation-name: flyInDown;
}

.sb-animation-flyOutDown {
  -webkit-animation-name: flyOutDown;
	-moz-animation-name: flyOutDown;
	-o-animation-name: flyOutDown;
	animation-name: flyOutDown;
}
/*=================================================
Animation Library
=================================================*/

@-webkit-keyframes flyInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(3000px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes flyInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(3000px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes flyInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(3000px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes flyInRight {
	0% {
		opacity: 0;
		transform: translateX(3000px);
	}

	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes flyOutRight {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
	  opacity: 0;
		-webkit-transform: translateX(3000px);
	}
}

@-moz-keyframes flyOutRight {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
	  opacity: 0;
		-moz-transform: translateX(3000px);
	}
}

@-o-keyframes flyOutRight {
	0% {
		-o-transform: translateX(0);
	}

	100% {
	  opacity: 0;
		-o-transform: translateX(3000px);
	}
}

@keyframes flyOutRight {
	0% {
		transform: translateX(0);
	}

	100% {
	  opacity: 0;
		transform: translateX(3000px);
	}
}

@-webkit-keyframes flyInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-3000px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes flyInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-3000px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes flyInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-3000px);
	}

	100% {
		-o-transform: translateX(0);
	}
}

@keyframes flyInLeft {
	0% {
		opacity: 0;
		transform: translateX(-3000px);
	}

	100% {
		transform: translateX(0);
	}
}
@-webkit-keyframes flyOutLeft {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-3000px);
	}
}

@-moz-keyframes flyOutLeft {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateX(-3000px);
	}
}

@-o-keyframes flyOutLeft {
	0% {
		-o-transform: translateX(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateX(-3000px);
	}
}

@keyframes flyOutLeft {
	0% {
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-3000px);
	}
}

@-webkit-keyframes flyInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes flyInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes flyInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes flyInUp {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes flyOutUp {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes flyOutUp {
	0% {
		-moz-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-o-keyframes flyOutUp {
	0% {
		-o-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes flyOutUp {
	0% {
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}


@-webkit-keyframes flyInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes flyInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes flyInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes flyInDown {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes flyOutDown {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
}

@-moz-keyframes flyOutDown {
	0% {
		-moz-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
}

@-o-keyframes flyOutDown {
	0% {
		-o-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
}

@keyframes flyOutDown {
	0% {
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(2000px);
	}
}
