---
layout: default
published: true
---
<div class="home">
	    <div class="my-fluid-container">
	        <div class="row">
	            <div class="col-sm-7 col-lg-7 col-md-7 col-xs-12 page-content-content">
	                <div class="post-list">
	                    {% for post in paginator.posts %}
	                    <div class="post">
	                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	                        <div class="post-content">
	                            {{ post.excerpt }}
	                        </div>
	                        <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">READ MORE…</a>
	                    </div>
	                    {% endfor %}
	                </div>
	                <div class="pagination">
	                    {% if paginator.previous_page %}
	                    <a href="{{ paginator.previous_page_path }}" class="previous s1920">← Newer</a>
	                    {% endif %}
	                    {% assign min_page = paginator.page | minus: 2 %}
	                    {% if min_page < 1 %}
	                    {% assign min_page = 1 %}
	                    {% endif %}
	                    {% assign max_page = min_page | plus: 4 %}
	                    {% if max_page > paginator.total_pages %}
	                    {% assign max_page = paginator.total_pages %}
	                    {% assign min_page = max_page | minus: 4 %}
	                    {% endif %}
	                    <div class="pagination-number">
	                        <a href="{{ site.url }}" class="page_number first">«</a>{% for i in (min_page..max_page) %}<a href="{% if i == 1 %}{{ site.url }}{% else %}{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', i }}{% endif %}" class="page_number{% if i == paginator.page %} current{% endif %}" style="left: -{{ forloop.index }}px;">{{ i }}</a>{% endfor %}<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}" class="page_number last" style="left: -6px;">»</a>
	                    </div>
	                    {% if paginator.next_page %}
	                    <a href="{{ paginator.next_page_path }}" class="next s1920">Older →</a>
	                    {% endif %}
	                </div>
	            </div>
	            <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12 page-content-divider"></div>
	            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 page-content-sidebar s1920">


	<center>
	<div class="fb-page"
	  data-href="https://www.facebook.com/hikeventures"
	  data-hide-cover="false"
	  data-show-facepile="true"
		data-adapt-container-width="true"
	  data-show-posts="false"></div>

	 </center><br>
	                <div class="sidebar-title">




	                <a href="/archive/"><span class="icon"></span>RECENT POSTS</a>
	                </div>
	                <div class="recent-posts">
	                {% for post in site.posts limit:5 %}
	                    <a class="recent-post" href="{{ BASE_PATH }}{{ post.url }}">
	                        <span class="recent-post-date">{{ post.date | date_to_string }}</span>
	                        <span class="recent-post-title" >{{ post.title }}</span>
	                    </a>
	                {% endfor %}
	                </div>


	                <div class="sidebar-image">
						<amp-instagram data-shortcode="BWFdapbDBCP"
						  width="1"
						  height="1"
						  layout="responsive">
						</amp-instagram>
	                </div>


	            </div>
	        </div>
	    </div>
	</div>
