---
layout: default
published: true
---

<div class="home">
    <div class="my-fluid-container">
        <div class="row">
            <div class="col-sm-7 col-lg-7 col-md-7 col-xs-12 page-content-content">
                <div class="post-list">
                    {% for post in paginator.posts %}
                    <div class="post">
                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <div class="post-content">
                            {{ post.excerpt }}
                        </div>
                        <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">READ MORE…</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous s1920">← Newer</a>
                    {% endif %}
                    {% assign min_page = paginator.page | minus: 2 %}
                    {% if min_page < 1 %}
                    {% assign min_page = 1 %}
                    {% endif %}
                    {% assign max_page = min_page | plus: 4 %}
                    {% if max_page > paginator.total_pages %}
                    {% assign max_page = paginator.total_pages %}
                    {% assign min_page = max_page | minus: 4 %}
                    {% endif %}
                    <div class="pagination-number">
                        <a href="{{ site.url }}" class="page_number first">«</a>{% for i in (min_page..max_page) %}<a href="{% if i == 1 %}{{ site.url }}{% else %}{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', i }}{% endif %}" class="page_number{% if i == paginator.page %} current{% endif %}" style="left: -{{ forloop.index }}px;">{{ i }}</a>{% endfor %}<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}" class="page_number last" style="left: -6px;">»</a>
                    </div>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next s1920">Older →</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12 page-content-divider"></div>
            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 page-content-sidebar s1920">
                <div class="sidebar-title">
                    <script type="text/javascript" src="//www.avantlink.com/link.php?ml=28937&amp;p=125311&amp;pw=150351&amp;ctc=blackfriday&amp;open=_blank"></script>
                    <br>
                    <a href="/archive/"><span class="icon"></span>RECENT POSTS</a>
                </div>
                <div class="recent-posts">
                {% for post in site.posts limit:5 %}
                    <a class="recent-post" href="{{ BASE_PATH }}{{ post.url }}">
                        <span class="recent-post-date">{{ post.date | date_to_string }}</span>
                        <span class="recent-post-title" >{{ post.title }}</span>
                    </a>
                {% endfor %}
                </div>
                <div class="sidebar-title">
                    <a href="https://www.instagram.com/hikeventures/"><span class="icon"></span>HikeVentures</a>
                </div>
                <div class="sidebar-image">
                    <a class="thumbnail" href="https://www.instagram.com/p/7QBFDcLtcu/">
                        <img src="https://farm2.staticflickr.com/1610/23772985064_3fbd9bc04d.jpg" alt="">
                        <div class="overlay"></div>
                        <span class="caption">Japan</span>
                    </a>
                </div>
                <div class="sidebar-image">
                    <a class="thumbnail" href="https://www.instagram.com/p/BAmCJxHLtYA/">
                        <img src="https://farm2.staticflickr.com/1567/24352382561_1ff06e93d3.jpg" alt="">
                        <div class="overlay"></div>
                        <span class="caption">Finland</p></span>
                    </a>
                </div>
                <div class="sidebar-image">
                    <a class="thumbnail" href="https://www.instagram.com/p/-HrSq_rtdb/">
                        <img src="https://farm2.staticflickr.com/1654/23774388833_a6c5f6768b.jpg" alt="">
                        <div class="overlay"></div>
                        <span class="caption">Sweden</span>
                    </a>
                </div>
                <center>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HikeVentures"
                       data-chrome="noborders" height="600px" width="100%"
                       data-link-color="#FF8000" data-widget-id="272762413726695424">Tweets by @HikeVentures</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>
                </center>
            </div>
        </div>
    </div>
</div>
