---
layout: default
published: true
---
<div class="home">
	    <div class="my-fluid-container">
	        <div class="row">
	            <div class="col-sm-7 col-lg-7 col-md-7 col-xs-12 page-content-content">
	                <div class="post-list">
	                    {% for post in paginator.posts %}
	                    <div class="post">
	                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
	                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	                        <div class="post-content">
	                            {{ post.excerpt }}
	                        </div>
	                        <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">READ MORE…</a>
	                    </div>
	                    {% endfor %}
	                </div>
	                <div class="pagination">
	                    {% if paginator.previous_page %}
	                    <a href="{{ paginator.previous_page_path }}" class="previous s1920">← Newer</a>
	                    {% endif %}
	                    {% assign min_page = paginator.page | minus: 2 %}
	                    {% if min_page < 1 %}
	                    {% assign min_page = 1 %}
	                    {% endif %}
	                    {% assign max_page = min_page | plus: 4 %}
	                    {% if max_page > paginator.total_pages %}
	                    {% assign max_page = paginator.total_pages %}
	                    {% assign min_page = max_page | minus: 4 %}
	                    {% endif %}
	                    <div class="pagination-number">
	                        <a href="{{ site.url }}" class="page_number first">«</a>{% for i in (min_page..max_page) %}<a href="{% if i == 1 %}{{ site.url }}{% else %}{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', i }}{% endif %}" class="page_number{% if i == paginator.page %} current{% endif %}" style="left: -{{ forloop.index }}px;">{{ i }}</a>{% endfor %}<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}" class="page_number last" style="left: -6px;">»</a>
	                    </div>
	                    {% if paginator.next_page %}
	                    <a href="{{ paginator.next_page_path }}" class="next s1920">Older →</a>
	                    {% endif %}
	                </div>
	            </div>
	            <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12 page-content-divider"></div>
	            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 page-content-sidebar s1920">


	<center>
	<div class="fb-page"
	  data-href="https://www.facebook.com/hikeventures"
	  data-hide-cover="false"
	  data-show-facepile="true"
		data-adapt-container-width="true"
	  data-show-posts="false"></div>

	 </center><br>
	                <div class="sidebar-title">




	                <a href="/archive/"><span class="icon"></span>RECENT POSTS</a>
	                </div>
	                <div class="recent-posts">
	                {% for post in site.posts limit:5 %}
	                    <a class="recent-post" href="{{ BASE_PATH }}{{ post.url }}">
	                        <span class="recent-post-date">{{ post.date | date_to_string }}</span>
	                        <span class="recent-post-title" >{{ post.title }}</span>
	                    </a>
	                {% endfor %}
	                </div>


	                <div class="sidebar-image">
						<amp-instagram data-shortcode="BWFdapbDBCP"
						  width="1"
						  height="1"
						  layout="responsive">
						</amp-instagram>
	                </div>
<div class="sidebar-image">
<script type="text/javascript" src="//www.avantlink.com/link.php?ml=220479&amp;p=125311&amp;pw=150351&amp;ctc=post_side&amp;open=_blank"></script>
</div>
<div class="sidebar-image">
<A rel="nofollow" href="http://www.bhphotovideo.com/find/dealZone.jsp?BI=19674&KW=&KBID=12320&img=bh_dealzone-300x250.gif">
<img src="http://www.bhphotovideo.com/images/affiliateimages/bh_dealzone-300x250.gif" border="0"></a>
<img src="http://affiliates.bhphotovideo.com/showban.asp?id=12320&img=bh_dealzone-300x250.gif" border=0>
</div>
<div class="sidebar-image">
<a rel="nofollow" href="https://www.amazon.com/Ultimate-Hikers-Gear-Guide-Second-ebook/dp/B01GYPKJ3C/ref=as_li_ss_il?s=books&ie=UTF8&qid=1532667188&sr=1-1&keywords=ultimate+hikers+gear+guide&linkCode=li3&tag=hikeve-20&linkId=90f0475521033001f5eb76c612c77dea" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01GYPKJ3C&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hikeve-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=hikeve-20&l=li3&o=1&a=B01GYPKJ3C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="sidebar-image">
<a rel="nofollow" href="https://www.amazon.com/Bushcraft-101-Field-Wilderness-Survival-ebook/dp/B00MIMHPII/ref=as_li_ss_il?s=books&ie=UTF8&qid=1532670356&sr=1-5&keywords=hiking+books&linkCode=li3&tag=hikeve-20&linkId=c5e5129ac11e9e28ea4e80974c4d69ef" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00MIMHPII&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hikeve-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=hikeve-20&l=li3&o=1&a=B00MIMHPII" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="sidebar-image">
	<a rel="nofollow" href="https://www.amazon.com/Garmin-inReach-Mini-Communicator-010-01879-00/dp/B07CR7PL54/ref=as_li_ss_il?s=outdoor-recreation&ie=UTF8&qid=1532670604&sr=1-2&keywords=InReach+mini&linkCode=li3&tag=hikeve-20&linkId=7f91c2d5cf1a05ecca32455925c8d101" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B07CR7PL54&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hikeve-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=hikeve-20&l=li3&o=1&a=B07CR7PL54" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>

	            </div>
	        </div>
	    </div>
	</div>
