<footer>
    <div class="row wrapper">
        <div class="col-sm-2 col-lg-2 col-md-2 col-xs-12">
            <span class="footer-title"><img src="/HV_logo.png">{{ site.title }}</span>
            <span class="footer-copyrights">© 2016</span>
        </div>
        <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12"></div>
        <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12">
            <ul class="footer-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/">Blog</a></li>
                <li><a href="/destinations/">Destinations</a></li>
            </ul>
        </div>
        <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12"></div>
        <div class="col-sm-1 col-lg-1 col-md-1 col-xs-12">
            <ul class="footer-menu">
                <li><a href="/gear-reviews/">Gear Reviews</a></li>

                <li><a href="/archive/">Archive</a></li>
                <li><a href="http://www.hikeventures.com/rss.xml">RSS</a></li>
                  <li><a href="/deals/">Deals</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-lg-2 col-md-2 col-xs-12"></div>
        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12">
            <div class="footer-follow">
                Follow us:
                <a href="https://www.instagram.com/hikeventures/" class="instagram"></a>
                <a href="https://www.youtube.com/channel/UCnO9Q_m9EaOCrHmmQIBVBNw" class="youtube"></a>
                <a href="https://www.flickr.com/photos/90204224@N07/" class="flickr"></a>
                <a href="https://twitter.com/HikeVentures" class="twitter"></a>
                <a href="https://www.facebook.com/HikeVentures" class="facebook"></a>
                <a href="http://www.hikeventures.com/rss.xml" class="rss"></a>
            </div>
            <div class="footer-follow">

                <div class="post-subscribe">
                                    <form action='http://www.feedio.co/@hikeventures/verify' id='subscribe_widget_hikeventures' method='post' target='popupwindow'>

                                     Newsletter: &nbsp;<input name='email' id='email_input' style='width:200px' type='text' placeholder="Email">&nbsp;<input style="color: white !important; !important;" type='submit' value='Join us!'>
                                    </form>
                                  </div>

                                  <form>
                                      <input type="text" placeholder="Email"><input type="button" value="Join Us!">
                                  </form>
            </div>
        </div>
    </div>
</footer>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46275467-1', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript" src="http://www.avantlink.com/ale/ale.php?ti=7491&amp;ctc=auto"></script>
<script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "hikeve-20";
    amzn_assoc_linkid = "808ecf1d6d723ee413f1f216a546f2de";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
