<nav class="navbar navbar-default"  role="navigation">
<H1>HikeVentures</H1>
<H2>Hiking and Packrafting Adventures</H2>

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>


         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav">{% assign pages_list = site.pages %} {% assign group = 'navigation' %}

            <li><a href="" style="color:#A0A0A0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
           <li><a href="/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';">Home</a></li>

            <li><a href="/destinations/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';">Destinations</a></li>
              <li><a href="/gear-reviews/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';">Gear Reviews</a></li>
        <li><a href="/archive/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';">Archive</a></li>
            <li><a href="/about/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';">About</a></li>
            <li><a href="http://www.feedio.co/@hikeventures/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';"><i class="fa fa-rss"></i></a></li>
                            <li> <a href="http://www.feedio.co/@hikeventures/" onmouseover="this.style.color='#FF8000';" onmouseout="this.style.color='#A0A0A0';"><i class="fa fa-envelope-o"></i></a></li>
                                  </ul>






                    
            </div>
    </nav>
    <div class="container">
      <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
                  <ul id="search_results"</ul>
          </div></div>
      </div>
