<center>
<font color=#FF8000><H1>HikeVentures</H1></font>
<font color=#A0A0A0><H4>Hiking, Cycling and Packrafting Adventures</H4></font>
</center>
<nav class="navbar navbar-default"  role="navigation">


            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>


         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
                    <ul class="nav navbar-nav">{% assign pages_list = site.pages %} {% assign group = 'navigation' %}

         <li><a href="/about/"><font color="000000">About</font></a></li>
           <li><a href="/"><font color="000000">Blog</font></a></li>

            <li><a href="/destinations/"><font color="000000">Destinations</font></a></li>
              <li><a href="/gear-reviews/"><font color="000000">Gear</font></a></li>
               
          
        <li><a href="/archive/"><font color="000000">Archive</font></a></li>

            <li><a href="http://www.feedio.co/@hikeventures/"><font color="000000">RSS</a></li>
                            
                      </ul>        






                    
            </div>
    </nav>

