<nav class="navbar navbar-default"  role="navigation">
<header>
    <div class="header-logo">
        <a href="{{ site.url }}"><img src="https://farm6.staticflickr.com/5600/15282435948_a86a69c802_t.jpg"></a>
    </div>
    <div class="header-title">
        <h1>HIKE VENTURES</h1>
        <h4>Hiking & Packrafting Adventures</h4>
          <script type="text/javascript" src="//www.avantlink.com/link.php?ml=569971&amp;p=125311&amp;pw=150351&amp;ctc=Deals Backcountry Banner&amp;open=_blank"></script>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">{% assign pages_list = site.pages %} {% assign group = 'navigation' %}

         <li><a href="/about/"><font color="000000">About</font></a></li>
           <li><a href="/"><font color="000000">Blog</font></a></li>

            <li><a href="/destinations/"><font color="000000">Destinations</font></a></li>
              <li><a href="/gear-reviews/"><font color="000000">Gear</font></a></li>


        <li><a href="/archive/"><font color="000000">Archive</font></a></li>

                <li><a href="/deals/"><font color="000000">Deals</font></a></li>
                      </ul>

        </nav>
    </div>
    <div class="header-links">
        <a href="https://www.instagram.com/hikeventures/" class="instagram"></a>
        <a href="https://www.youtube.com/channel/UCnO9Q_m9EaOCrHmmQIBVBNw" class="youtube"></a>
        <a href="http://www.feedio.co/@hikeventures/" class="rss"></a>
    </div>
</header>
