<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2012-11-19-e5-crossing-the-alps-from-germany-to-italy.markdown</string>
		</array>
		<array>
			<string>2012-11-24-hiking-and-cycling-at-the-kvarken-archipelago.markdown</string>
		</array>
		<array>
			<string>2012-11-25-hiking-in-nuuksio-national-park-finland.markdown</string>
		</array>
		<array>
			<string>2012-11-27-hiking-in-seitseminen-national-park-finland.markdown</string>
		</array>
		<array>
			<string>2013-01-06-sigma-merrill-dp1-short-review-and-sample-images-from-helsinki.markdown</string>
		</array>
		<array>
			<string>2013-01-10-night-shots-with-sigma-merrill-dp1.markdown</string>
		</array>
		<array>
			<string>2013-01-13-pitching-hilleberg-anjan-2-on-snow.markdown</string>
		</array>
		<array>
			<string>2013-01-14-how-to-charge-your-batteries-when-you-are-outdoors.markdown</string>
		</array>
		<array>
			<string>2013-01-21-petzl-nao-headlamp-test.markdown</string>
		</array>
		<array>
			<string>2013-01-22-my-three-favourite-hiking-items.markdown</string>
		</array>
		<array>
			<string>2013-01-28-hiking-books-chris-townsend-the-backpackers-handbook.markdown</string>
		</array>
		<array>
			<string>2013-01-29-hiking-books-mike-clelland-ultralight-backpackin-tips.markdown</string>
		</array>
		<array>
			<string>2013-02-02-hiking-book-lyle-brotherton-ultimate-navigation-manual.markdown</string>
		</array>
		<array>
			<string>2013-02-05-hiking-gear-rab-alpine-mircrolight.markdown</string>
		</array>
		<array>
			<string>2013-02-06-gear-review-black-diamond-ultra-distance-z-pole.markdown</string>
		</array>
		<array>
			<string>2013-02-23-backcountry-skiing-skills-for-ski-touring-and-ski-mountaineering.markdown</string>
		</array>
		<array>
			<string>2013-02-23-british-canoe-union-canoe-and-kayak-handbook.markdown</string>
		</array>
		<array>
			<string>2013-02-23-gear-review-primus-express-stove.markdown</string>
		</array>
		<array>
			<string>2013-03-03-water-repellent-down-jackets-overview-2013.markdown</string>
		</array>
		<array>
			<string>2013-03-12-gear-review-jetboil-sol-ti.markdown</string>
		</array>
		<array>
			<string>2013-03-14-gear-review-katadyn-mini-water-filter.markdown</string>
		</array>
		<array>
			<string>2013-03-17-observing-northern-lights-in-vaasa-finland.markdown</string>
		</array>
		<array>
			<string>2013-03-21-gear-review-inov-8-roclite-295.markdown</string>
		</array>
		<array>
			<string>2013-03-21-gear-review-laufbursche-huckepack-hp450.markdown</string>
		</array>
		<array>
			<string>2013-03-21-gear-review-montbell-u-dot-l-down-parka.markdown</string>
		</array>
		<array>
			<string>2013-03-21-gear-review-ortlieb-document-case-a4.markdown</string>
		</array>
		<array>
			<string>2013-03-21-gear-review-steripen-freedom.markdown</string>
		</array>
		<array>
			<string>2013-04-06-gear-review-the-north-face-base-camp-duffle.markdown</string>
		</array>
		<array>
			<string>2013-04-07-hiking-in-zuid-kenemerland-middenduin-netherlands.markdown</string>
		</array>
		<array>
			<string>2013-04-08-gear-review-sea-to-summit-ultra-sil-drysack.markdown</string>
		</array>
		<array>
			<string>2013-04-14-gear-review-hilleberg-anjan-for-the-summer.markdown</string>
		</array>
		<array>
			<string>2013-04-18-gear-review-unpacking-alpacka-packraft.markdown</string>
		</array>
		<array>
			<string>2013-05-06-learning-how-to-packraft.markdown</string>
		</array>
		<array>
			<string>2013-05-08-gear-review-suunto-ambit-2-black-hr.markdown</string>
		</array>
		<array>
			<string>2013-05-12-10-reasons-why-i-like-packrafting.markdown</string>
		</array>
		<array>
			<string>2013-05-12-gear-review-katabatic-gear-chisos.markdown</string>
		</array>
		<array>
			<string>2013-05-12-spring-in-the-kvarken-archipelago.markdown</string>
		</array>
		<array>
			<string>2013-05-14-gear-review-montane-minimus-smock.markdown</string>
		</array>
		<array>
			<string>2013-05-20-gear-review-arcteryx-palisade-pants.markdown</string>
		</array>
		<array>
			<string>2013-06-01-visiting-lake-constance-for-3-days.markdown</string>
		</array>
		<array>
			<string>2013-06-25-gear-review-hmg-porter-4400-black.markdown</string>
		</array>
		<array>
			<string>2013-07-01-gear-review-arcteryx-squamish-hoody.markdown</string>
		</array>
		<array>
			<string>2013-07-15-3-days-in-the-scottish-highlands.markdown</string>
		</array>
		<array>
			<string>2013-07-15-gear-preview-werner-shuna-paddles.markdown</string>
		</array>
		<array>
			<string>2013-07-18-food-list-for-sarek.markdown</string>
		</array>
		<array>
			<string>2013-07-19-waterproof-maps.markdown</string>
		</array>
		<array>
			<string>2013-07-20-navigation-tools-for-hiking.markdown</string>
		</array>
		<array>
			<string>2013-07-21-how-to-inflate-a-packraft.markdown</string>
		</array>
		<array>
			<string>2013-08-14-one-week-sightseeing-in-berlin.markdown</string>
		</array>
		<array>
			<string>2013-08-25-hiking-and-packrafting-in-sarek-day-1.markdown</string>
		</array>
		<array>
			<string>2013-10-16-sarek-packrafting-video.markdown</string>
		</array>
		<array>
			<string>2013-10-29-hiking-in-county-kerry.markdown</string>
		</array>
		<array>
			<string>2013-11-03-the-silent-hunt-in-poland.markdown</string>
		</array>
		<array>
			<string>2013-11-17-horror-books-or-how-to-prepare-yourself-for-the-winter.markdown</string>
		</array>
		<array>
			<string>2013-11-23-arcteryx-tecto-fl-jacket.markdown</string>
		</array>
		<array>
			<string>2013-11-23-tubbs-xpedition-snowshoes.markdown</string>
		</array>
		<array>
			<string>2013-11-25-sony-a7r-iso-50-raw-night.markdown</string>
		</array>
		<array>
			<string>2013-11-26-hiking-in-repovesi-national-park-finland.markdown</string>
		</array>
		<array>
			<string>2013-11-30-the-outdoor-activities-in-vaasa.markdown</string>
		</array>
		<array>
			<string>2013-12-01-outdoor-advent-calendars-2013.markdown</string>
		</array>
		<array>
			<string>2013-12-03-blog-introduction-hiking-blog-dot-de.markdown</string>
		</array>
		<array>
			<string>2013-12-03-hiking-on-the-aland-islands.markdown</string>
		</array>
		<array>
			<string>2013-12-04-amc-guide-to-winter-hiking-and-camping-everything-you-need-to-plan-your-next-cold-weather-adventure-by-yemaya-mauer-and-lucas-st-clair.markdown</string>
		</array>
		<array>
			<string>2013-12-05-blog-introduction-one-hundred-mountains.markdown</string>
		</array>
		<array>
			<string>2013-12-09-pmags-dot-com.markdown</string>
		</array>
		<array>
			<string>2013-12-11-swamp-and-quad-bike-adventures-in-finland.markdown</string>
		</array>
		<array>
			<string>2013-12-12-nature-travel-network.markdown</string>
		</array>
		<array>
			<string>2013-12-16-klymit.markdown</string>
		</array>
		<array>
			<string>2013-12-20-field-notes-expedition-and-space-pen.markdown</string>
		</array>
		<array>
			<string>2013-12-20-hiking-the-trail.markdown</string>
		</array>
		<array>
			<string>2013-12-21-the-shortest-day-of-the-year-in-finland.markdown</string>
		</array>
		<array>
			<string>2013-12-25-deuter-boulder-gaiter.markdown</string>
		</array>
		<array>
			<string>2013-12-31-hiking-gear-for-2014.markdown</string>
		</array>
		<array>
			<string>2014-01-02-petzl-attache-3d.markdown</string>
		</array>
		<array>
			<string>2014-01-09-a7r-remote-control.markdown</string>
		</array>
		<array>
			<string>2014-01-11-lost-swiss-miss.markdown</string>
		</array>
		<array>
			<string>2014-01-30-vaasa-time-lapse.markdown</string>
		</array>
		<array>
			<string>2014-02-09-arcteryx-kappa-pant.markdown</string>
		</array>
		<array>
			<string>2014-02-09-howlingmist.markdown</string>
		</array>
		<array>
			<string>2014-02-10-like-a-bigfoot.markdown</string>
		</array>
		<array>
			<string>2014-02-11-kinttupolulla.markdown</string>
		</array>
		<array>
			<string>2014-02-13-best-hike-in-washington-state.markdown</string>
		</array>
		<array>
			<string>2014-02-13-the-last-adventurer.markdown</string>
		</array>
		<array>
			<string>2014-02-14-central-florida-hiker.markdown</string>
		</array>
		<array>
			<string>2014-02-14-meanderthals.markdown</string>
		</array>
		<array>
			<string>2014-02-15-zpacks.markdown</string>
		</array>
		<array>
			<string>2014-02-17-backpacking-engineer.markdown</string>
		</array>
		<array>
			<string>2014-02-17-hikingupward.markdown</string>
		</array>
		<array>
			<string>2014-02-18-fran-reisner-journey-in-focus.markdown</string>
		</array>
		<array>
			<string>2014-02-19-do-it-review.markdown</string>
		</array>
		<array>
			<string>2014-02-20-lukes-ultralite-clothing.markdown</string>
		</array>
		<array>
			<string>2014-02-21-a-spectacular-day-in-mount-rainer-national-park.markdown</string>
		</array>
		<array>
			<string>2014-02-21-brazos-walking-sticks.markdown</string>
		</array>
		<array>
			<string>2014-02-25-ridgeline-images.markdown</string>
		</array>
		<array>
			<string>2014-03-03-best-rain-pants.markdown</string>
		</array>
		<array>
			<string>2014-03-04-best-fleece-jackets.markdown</string>
		</array>
		<array>
			<string>2014-03-06-best-windjackets.markdown</string>
		</array>
		<array>
			<string>2014-03-09-goexpo-2014-in-helsinki.markdown</string>
		</array>
		<array>
			<string>2014-03-27-hyperlite-mountain-gear.markdown</string>
		</array>
		<array>
			<string>2014-03-27-retkipaikka.markdown</string>
		</array>
		<array>
			<string>2014-03-27-the-wave-of-arizona.markdown</string>
		</array>
		<array>
			<string>2014-03-27-zerogram.markdown</string>
		</array>
		<array>
			<string>2014-03-27-zootilitytools.markdown</string>
		</array>
		<array>
			<string>2014-03-28-enlightened-equipment.markdown</string>
		</array>
		<array>
			<string>2014-04-05-mountain-equipment-ar-ultralite-2.markdown</string>
		</array>
		<array>
			<string>2014-04-07-haglofs-LIM-pant.markdown</string>
		</array>
		<array>
			<string>2014-04-08-leatherman-style-cs.markdown</string>
		</array>
		<array>
			<string>2014-04-10-luminaid.markdown</string>
		</array>
		<array>
			<string>2014-04-10-packrafting-in-the-weerribben-wieden-national-park.markdown</string>
		</array>
		<array>
			<string>2014-04-10-petzl-meteor-3-plus-helmet.markdown</string>
		</array>
		<array>
			<string>2014-04-10-polychromelab-alta-quota.markdown</string>
		</array>
		<array>
			<string>2014-04-10-solarmonkey-adventurer.markdown</string>
		</array>
		<array>
			<string>2014-04-10-ultrasil-compression-sack.markdown</string>
		</array>
		<array>
			<string>2014-04-15-grand-teton-and-yellowstone-national-parks.markdown</string>
		</array>
		<array>
			<string>2014-04-20-cumulus-panyam-450.markdown</string>
		</array>
		<array>
			<string>2014-04-29-packrafting-on-the-grensmaas.markdown</string>
		</array>
		<array>
			<string>2014-05-04-hostel-borea-in-turku.markdown</string>
		</array>
		<array>
			<string>2014-05-11-bishops-castle-and-wooden-church-in-kuusisto.markdown</string>
		</array>
		<array>
			<string>2014-05-17-ruissalo-turku.markdown</string>
		</array>
		<array>
			<string>2014-06-01-a-summer-day-in-katajanokka-helsinki.markdown</string>
		</array>
		<array>
			<string>2014-06-07-packrafting-in-turku.markdown</string>
		</array>
		<array>
			<string>2014-06-17-turku-to-stockholm-cruise-with-viking-line.markdown</string>
		</array>
		<array>
			<string>2014-06-20-sightseeing-in-kalmar.markdown</string>
		</array>
		<array>
			<string>2014-06-21-packrafting-the-eman-river.markdown</string>
		</array>
		<array>
			<string>2014-06-25-salomon-speedcross-3.markdown</string>
		</array>
		<array>
			<string>2014-07-14-museums-in-tuusula.markdown</string>
		</array>
		<array>
			<string>2014-07-24-astral-ytv.markdown</string>
		</array>
		<array>
			<string>2014-08-09-bicycling-in-turku-kakskerta.markdown</string>
		</array>
		<array>
			<string>2014-08-11-suunto-ambit3-ambit2-worth-upgrade.markdown</string>
		</array>
		<array>
			<string>2014-08-14-hirvensalo-luontopolku-hiking-natura-2000.markdown</string>
		</array>
		<array>
			<string>2014-08-17-exped-synmat-ul-7.markdown</string>
		</array>
		<array>
			<string>2014-08-18-exped-air-pillow-ul.markdown</string>
		</array>
		<array>
			<string>2014-08-23-outdoors-tidbits-02.markdown</string>
		</array>
		<array>
			<string>2014-08-29-outdoors-activities-in-vaasa.markdown</string>
		</array>
		<array>
			<string>2014-09-02-windpaddle-sails-for-packrafting.markdown</string>
		</array>
		<array>
			<string>2014-09-03-outdoors-tidbits-03.markdown</string>
		</array>
		<array>
			<string>2014-09-08-mushroom-season-in-finland.markdown</string>
		</array>
		<array>
			<string>2014-09-08-outdoors-tidbits-04.markdown</string>
		</array>
		<array>
			<string>2014-09-12-autumn-colors-around-lake-savojarvi.markdown</string>
		</array>
		<array>
			<string>2014-09-16-aquapac-waterproof-camera-pouch.markdown</string>
		</array>
		<array>
			<string>2014-09-17-outdoors-tidbits-05.markdown</string>
		</array>
		<array>
			<string>2014-09-21-outdoors-tidbits-06.markdown</string>
		</array>
		<array>
			<string>2014-09-27-outdoors-tidbits-07.markdown</string>
		</array>
		<array>
			<string>2014-09-28-exploring-vajosuo-and-takaniitunvuori.markdown</string>
		</array>
		<array>
			<string>2014-10-06-first-finnish-packrafting-gathering.markdown</string>
		</array>
		<array>
			<string>2014-10-08-outdoors-tidbits-08.markdown</string>
		</array>
		<array>
			<string>2014-10-12-autumn.markdown</string>
		</array>
		<array>
			<string>2014-10-12-outdoors-tidbits-09.markdown</string>
		</array>
		<array>
			<string>2014-10-18-outdoors-tidbits-10.markdown</string>
		</array>
		<array>
			<string>2014-10-21-my-sony-a7r-macbook-lightroom-workflow.markdown</string>
		</array>
		<array>
			<string>2014-10-23-jetboil-flash-review-by-nashvilleryan.markdown</string>
		</array>
		<array>
			<string>2014-10-24-best-book-about-finnish-lapland.markdown</string>
		</array>
		<array>
			<string>2014-10-25-best-down-jackets.markdown</string>
		</array>
		<array>
			<string>2014-10-26-best-waterproof-rain-jackets.markdown</string>
		</array>
		<array>
			<string>2014-10-26-luci-r-outdoor-not-a-toy.markdown</string>
		</array>
		<array>
			<string>2014-10-26-outdoors-tidbits-11.markdown</string>
		</array>
		<array>
			<string>2014-10-28-best-headlamps.markdown</string>
		</array>
		<array>
			<string>2014-10-29-outdoors-tidbits-12.markdown</string>
		</array>
		<array>
			<string>2014-11-02-halloween-adventure-at-lake-suolijarvi.markdown</string>
		</array>
		<array>
			<string>2014-11-02-lithuanian-sahara.markdown</string>
		</array>
		<array>
			<string>2014-11-05-outdoors-tidbits-13.markdown</string>
		</array>
		<array>
			<string>2014-11-10-outdoors-tidbits-14.markdown</string>
		</array>
		<array>
			<string>2014-11-15-layering-clothing-for-packrafting.markdown</string>
		</array>
		<array>
			<string>2014-11-16-outdoors-tidbits-15.markdown</string>
		</array>
		<array>
			<string>2014-11-16-zeiss-loxia-35mm.markdown</string>
		</array>
		<array>
			<string>2014-11-19-best-backpacking-stoves.markdown</string>
		</array>
		<array>
			<string>2014-11-21-advent-calendar-2014.markdown</string>
		</array>
		<array>
			<string>2014-11-24-outdoors-tidbits-16.markdown</string>
		</array>
		<array>
			<string>2014-11-25-advent-calendar-giveaway-1.markdown</string>
		</array>
		<array>
			<string>2014-11-30-advent-calendar-giveaway-2.markdown</string>
		</array>
		<array>
			<string>2014-12-01-outdoors-tidbits-17.markdown</string>
		</array>
		<array>
			<string>2014-12-04-best-snowshoes.markdown</string>
		</array>
		<array>
			<string>2014-12-05-advent-calendar-giveaway-3.markdown</string>
		</array>
		<array>
			<string>2014-12-07-outdoors-tidbits-18.markdown</string>
		</array>
		<array>
			<string>2014-12-08-advent-calendar-giveaway-4.markdown</string>
		</array>
		<array>
			<string>2014-12-12-thoughts-on-upgrading-my-sony-a7r-to-sony-a9.markdown</string>
		</array>
		<array>
			<string>2014-12-13-advent-calendar-giveaway-5.markdown</string>
		</array>
		<array>
			<string>2014-12-14-outdoors-tidbits-19.markdown</string>
		</array>
		<array>
			<string>2014-12-17-best-outdoor-books.markdown</string>
		</array>
		<array>
			<string>2014-12-18-advent-calendar-giveaway-6.markdown</string>
		</array>
		<array>
			<string>2014-12-19-outdoor-tidbits-20.markdown</string>
		</array>
		<array>
			<string>2014-12-21-advent-calendar-giveaway-7.markdown</string>
		</array>
		<array>
			<string>2014-12-25-outdoors-tidbits-21.markdown</string>
		</array>
		<array>
			<string>2014-12-27-advent-calendar-wrap-up.markdown</string>
		</array>
		<array>
			<string>2015-01-01-happy-new-hiking-and-packrafting-year-2015.markdown</string>
		</array>
		<array>
			<string>2015-01-05-outdoors-tidbits-23.markdown</string>
		</array>
		<array>
			<string>2015-01-11-recording-nature-sound-for-your-dslr-videos-zoom-h5.markdown</string>
		</array>
		<array>
			<string>2015-01-15-lf-yaffe-backpacking-gourmet.markdown</string>
		</array>
		<array>
			<string>2015-01-17-outdoors-tidbits-24.markdown</string>
		</array>
		<array>
			<string>2015-01-28-outdoors-tidbits-25.markdown</string>
		</array>
		<array>
			<string>2015-01-30-with-the-thermos-bottle-over-the-arctic-circle.markdown</string>
		</array>
		<array>
			<string>2015-02-03-outdoors-tidbits-26.markdown</string>
		</array>
		<array>
			<string>2015-02-06-ispo-2015-review.markdown</string>
		</array>
		<array>
			<string>2015-02-08-preparing-for-fjallraven-classic.markdown</string>
		</array>
		<array>
			<string>2015-02-10-Best-sleeping-pads.markdown</string>
		</array>
		<array>
			<string>2015-02-12-outdoors-tidbits-27.markdown</string>
		</array>
		<array>
			<string>2015-02-15-snowshoeing-and-skiing-in-urho-kekkonen-national-park-and-Saariselka.markdown</string>
		</array>
		<array>
			<string>2015-02-18-interview-with-lundhags.markdown</string>
		</array>
		<array>
			<string>2015-02-18-interview-with-werner-paddles.markdown</string>
		</array>
		<array>
			<string>2015-02-23-interview-with-devold.markdown</string>
		</array>
		<array>
			<string>2015-03-02-outdoors-tidbits-28.markdown</string>
		</array>
		<array>
			<string>2015-03-04-best-trekking-and-snowshoeing-poles.markdown</string>
		</array>
		<array>
			<string>2015-03-10-interview-with-haglofs.markdown</string>
		</array>
		<array>
			<string>2015-03-14-outdoors-tidbits-29.markdown</string>
		</array>
		<array>
			<string>2015-03-17-winter-packrafting.markdown</string>
		</array>
		<array>
			<string>2015-03-18-best-outdoor-action-camera.markdown</string>
		</array>
		<array>
			<string>2015-03-29-best-rss-reader-for-outdoor-blogger-feeds.markdown</string>
		</array>
		<array>
			<string>2015-03-29-outdoors-tidbits-30.markdown</string>
		</array>
		<array>
			<string>2015-04-08-preparing-for-packrafting-in-sweden.markdown</string>
		</array>
		<array>
			<string>2015-04-12-outdoors-tidbits-31.markdown</string>
		</array>
		<array>
			<string>2015-04-16-best-outdoor-case-for-macbook-pro-13.markdown</string>
		</array>
		<array>
			<string>2015-04-18-lapland-winter-adventure-video.markdown</string>
		</array>
		<array>
			<string>2015-04-21-overnight-backpacking-gear-list-for-spring-and-fall.markdown</string>
		</array>
		<array>
			<string>2015-05-06-Best-satellite-messenger-locator-beacons.markdown</string>
		</array>
		<array>
			<string>2015-05-09-Outdoors-Tidbits-32.markdown</string>
		</array>
		<array>
			<string>2015-05-17-best-solo-person-backpacking-tent.markdown</string>
		</array>
		<array>
			<string>2015-05-17-spring-packrafting-in-sweden.markdown</string>
		</array>
		<array>
			<string>2015-05-18-Paddling-the-Archipelago-Sea.markdown</string>
		</array>
		<array>
			<string>2015-05-19-Fitness-for-Backpacking-and-Packrafting.markdown</string>
		</array>
		<array>
			<string>2015-05-19-Palm-Hook-Gloves.markdown</string>
		</array>
		<array>
			<string>2015-05-20-Best-water-bottle-hiking-backpacking.markdown</string>
		</array>
		<array>
			<string>2015-05-22-Packrafting-in-Belgium.markdown</string>
		</array>
		<array>
			<string>2015-05-23-Thule-Atmos-X3.markdown</string>
		</array>
		<array>
			<string>2015-05-24-Outdoor-action-and-adventure-photography.markdown</string>
		</array>
		<array>
			<string>2015-05-28-K-Clip.markdown</string>
		</array>
		<array>
			<string>2015-05-7-best-tents-for-backpacking-and-packrafting.markdown</string>
		</array>
		<array>
			<string>2015-06-06-Outdoors-Tidbits-33.markdown</string>
		</array>
		<array>
			<string>2015-06-11-best-backpack-for-packrafting.markdown</string>
		</array>
		<array>
			<string>2015-06-16-Outdoors-Tidbits-34.markdown</string>
		</array>
		<array>
			<string>2015-06-18-best-portable-usb-battery-for-hiking-backpacking.markdown</string>
		</array>
		<array>
			<string>2015-06-23-thule-Perspektiv-action-camera-case.markdown</string>
		</array>
		<array>
			<string>2015-06-27-Mariehamn-aland-islands-worth-a-visit.markdown</string>
		</array>
		<array>
			<string>2015-06-28-Suomen-Joutsen.markdown</string>
		</array>
		<array>
			<string>2015-06-30-Naantali.markdown</string>
		</array>
		<array>
			<string>2015-07-05-Thule-Legend-GoPro-case-etui.markdown</string>
		</array>
		<array>
			<string>2015-07-12-Packrafting-River-Bobr-Poland.markdown</string>
		</array>
		<array>
			<string>2015-07-12-Poznan-Wrocław-Jawor-and-Wałbrzych.markdown</string>
		</array>
		<array>
			<string>2015-07-15-Hilleberg-Niak-Enan-Hubba-Hubba_NX.markdown</string>
		</array>
		<array>
			<string>2015-07-18-Outdoors-Tidbits-35.markdown</string>
		</array>
		<array>
			<string>2015-07-23-Karkonosze-national-park.markdown</string>
		</array>
		<array>
			<string>2015-07-25-ultralight-gear-shopping.markdown</string>
		</array>
		<array>
			<string>2015-07-28-gear-list-fjallraven-classic.markdown</string>
		</array>
		<array>
			<string>2015-08-02-Fjallraven-Classic-backpack.markdown</string>
		</array>
		<array>
			<string>2015-08-16-hiking-packrafting-poland-video.markdown</string>
		</array>
		<array>
			<string>2015-08-19-Outdoors-Tidbits-36.markdown</string>
		</array>
		<array>
			<string>2015-08-27-Outdoors-Tidbits-37.markdown</string>
		</array>
		<array>
			<string>2015-08-29-Windpaddle-sailing-packraft.markdown</string>
		</array>
		<array>
			<string>2015-09-02-Timelapse-Shibuja-Tokyo-Night.markdown</string>
		</array>
		<array>
			<string>2015-09-03-Murodo-Tateyama-Mountain.markdown</string>
		</array>
		<array>
			<string>2015-09-04-holy-mountains-japan.markdown</string>
		</array>
		<array>
			<string>2015-09-13-Packrafting-Aura-River-Turku.markdown</string>
		</array>
		<array>
			<string>2015-09-15-Outdoors-Tidbits-38.markdown</string>
		</array>
		<array>
			<string>2015-09-21-Second-Finnish-Packrafting-Gathering-Finland-Helvetinjarvi.markdown</string>
		</array>
		<array>
			<string>2015-09-21-Second-Packrafting-Gathering-Helvetinjarvi-Video.markdown</string>
		</array>
		<array>
			<string>2015-09-22-Outdoors-Tidbits-39.markdown</string>
		</array>
		<array>
			<string>2015-09-29-Packrafting-Alta-River.markdown</string>
		</array>
		<array>
			<string>2015-10-07-Outdoors-Tidbits-40.markdown</string>
		</array>
		<array>
			<string>2015-10-08-Gear-to-take-when-planning-packrafting-trip.markdown</string>
		</array>
		<array>
			<string>2015-10-16-mushroom-hunting-holland.markdown</string>
		</array>
		<array>
			<string>2015-10-19-Outdoors-Tidbits-41.markdown</string>
		</array>
		<array>
			<string>2015-10-20-Suunto-Traverse-Ambit3-differences.markdown</string>
		</array>
		<array>
			<string>2015-11-05-Packrafting-Drawa-National-Park-Poland.markdown</string>
		</array>
		<array>
			<string>2015-11-08-Packrafting-cleanest-lake-Sweden-Trollsjon.markdown</string>
		</array>
		<array>
			<string>2015-11-17-Outdoor-Gear-Wishlist-Christmas-2015.markdown</string>
		</array>
		<array>
			<string>2015-11-20-Fatbiking-in-Holland.markdown</string>
		</array>
		<array>
			<string>2015-11-22-Thule-Chasm-XL-Duffle-Bag.markdown</string>
		</array>
		<array>
			<string>2015-12-03-Meeting-Outdoor-Bloggers-ISPO.markdown</string>
		</array>
		<array>
			<string>2015-12-06-ideas-planning-outdoor-trip-poland.markdown</string>
		</array>
		<array>
			<string>2015-12-12-packrafting-Njuoreatnu-Tornetrask-abisko.markdown</string>
		</array>
		<array>
			<string>2015-12-13-best-outdoor-blogs.markdown</string>
		</array>
		<array>
			<string>2015-12-17--packrafting-Njuoreatnu-Tornetrask-abisko-day-2.markdown</string>
		</array>
		<array>
			<string>2015-12-18-Outdoors-Tidbits-42.markdown</string>
		</array>
		<array>
			<string>2015-12-26-packrafting-trips-directory.markdown</string>
		</array>
		<array>
			<string>2015-12-31-outdoors-tidbits-22.markdown</string>
		</array>
		<array>
			<string>2016-01-03-Outdoors-Tidbits-43.markdown</string>
		</array>
		<array>
			<string>2016-01-04--packrafting-Njuoreatnu-Tornetrask-abisko-day-3.markdown</string>
		</array>
		<array>
			<string>2016-01-07-Best-places-to-visit-in-scandinavia-hiking-backpacking-packrafting.markdown</string>
		</array>
		<array>
			<string>2016-01-09-Safety-on-your-packrafting-trips.markdown</string>
		</array>
		<array>
			<string>2016-01-10-Into-the-White-A-winter-hike-in-the-Beskid-Mountains-Poland-1.markdown</string>
		</array>
		<array>
			<string>2016-01-10-Survey-The-use-of-Technology-Outdoors.markdown</string>
		</array>
		<array>
			<string>2016-01-18-outdoors-tidbits-44.markdown</string>
		</array>
		<array>
			<string>2016-01-18-Turku-Winter-Wonderland-archipelago-sea.markdown</string>
		</array>
		<array>
			<string>2016-01-24-ISPO-2016-Haglofs.markdown</string>
		</array>
		<array>
			<string>2016-01-25-outdoors-tidbits-45.markdown</string>
		</array>
		<array>
			<string>2016-02-04-ISPO-2016-interviews.markdown</string>
		</array>
		<array>
			<string>2017-11-30-Packrafting-Ardennes.markdown</string>
		</array>
	</array>
</dict>
</plist>
