<!DOCTYPE html>
<html>

  {% include head.html %}

  <body><br>
<center><script type="text/javascript" src="//www.avantlink.com/link.php?ml=196169&amp;p=125311&amp;pw=150351&amp;ctc=start&amp;open=_blank"></script></center>
    {% include header.html %}
    <div class="page-content">
         <div class="wrapper">
  
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
  <script>
$(document.links).filter(function() {
    return this.hostname != window.location.hostname;
}).attr('target', '_blank');
</script>
</html>
