---
layout: default
published: true
---




<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <center><h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    

    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
</center> 

</header>
<hr style="border: 2px dashed #C0C0C0" color="#FFFFFF" size="3">


  <div class="my-fluid-container">

    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-12"> 

  <div class="post-content" itemprop="articleBody">
    {{ content }}

<hr>
Comment on this post on our <a href="https://www.facebook.com/HikeVentures/">Facebook page</a> or on <a href="https://twitter.com/HikeVentures">Twitter</a> or watch one of our <a href="https://www.youtube.com/channel/UCnO9Q_m9EaOCrHmmQIBVBNw">YouTube videos</a>.<br>

<hr>
<form action='http://www.feedio.co/@hikeventures/verify' id='subscribe_widget_hikeventures' method='post' style='border:0px solid #ccc;padding:0px;text-align:left;' target='popupwindow'>
<font color="black">Subscribe to our newsletter with our latest posts. You can unsubscribe any time. Enter your email address: &nbsp;<input name='email' style='width:140px' type='text'><input type='submit' value='JOIN US'></font>

<hr>
<div class="relatedPosts">
  <h3>Related post</h3>

  {% comment %}---> the maximum number of related to posts 
                    to be printed {% endcomment %}
  {% assign maxRelated = 4 %}

  {% comment %}---> the minimum number of common tags 
                    to have for a post to be considered 
                    as a related post {% endcomment %}
  {% assign minCommonTags =  2 %}

  {% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% comment %}---> Only compare if post is 
                        not same as current page {% endcomment %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      <br>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}
</div>

<hr>

<div class="page_nav">
{% if page.previous.url %}<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>{% endif %}
{% if page.next.url %}<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>{% endif %}
</div>



</article>
  
 <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12"> 

   
                        <div class="alignleft">
                               <div class="headline"> <h4><span class="label" style="background:#FF8000"><a href="http://www.hikeventures.com/archive/"><font style="color:#FFFFFF">Recent Posts</font></a></span></h4>
                               </div>

                                            {% for post in site.posts limit:5 %}
                                            <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><hr>{% endfor %}


                        </div>

                   <center>

<a href="http://www.avantlink.com/click.php?tt=ml&amp;ti=28937&amp;pw=150351&amp;ctc=side post" target="_blank"><img src="//www.avantlink.com/gbi/10060/28937/125311/150351/image.jpg?ctc=side post" width="100%" style="border: 0px;" alt="" /></a>
                   <br> <a href="http://www.avantlink.com/click.php?tt=ml&amp;ti=196165&amp;pw=150351&amp;ctc=sale rei" target="_blank"><img src="//www.avantlink.com/gbi/10248/196165/125311/150351/image.jpg?ctc=sale rei" width="100%" style="border: 0px;" alt="" /></a><br></center></div>

                </div>
            
            </div>
            
            

</div>
