---
layout: default
published: true
---
<div class="my-fluid-container">
    <div class="row">

         <div class="col-sm-7 col-lg-7 col-md-7 col-xs-12 page-content-content">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

                <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
                <div class="post-content" itemprop="articleBody">
{{ content }}
<b>And if you have some time ...</b>
<br>
➽ Visit us on <a href="https://www.instagram.com/hikeventures/"><u>Instagram</u></a>.
<br>
➽ See our <a rel="nofollow" href="https://www.amazon.com/ideas/amzn1.account.AFHTIY33CNSXV4KWANJFMRX62CAQ/ZLVSH9F2VWPX"><u>gear recommendations</u></a>.
<br>
<br>
<div id="amzn-assoc-ad-cc781bfd-577f-4efb-9da6-75cb9fc7d1c2"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=cc781bfd-577f-4efb-9da6-75cb9fc7d1c2"></script>  
<i>Advertising Disclosure: This content uses affiliate links. <a href="http://www.hikeventures.com/about/">Read</a> for more info.</i>


                    <div class="horizontal_line"></div>
                    <div class="page_nav">
                        <span class="page_nav_prev">
                        {% if page.previous.url %}
                        <a class="prev" href="{{page.previous.url}}"><span class="page_nav_link">← Older</span><br><span class="page_nav_title">{{page.previous.title}}</span></a>
                        {% else %}
                        <span class="page_nav_no">|← No older posts  </span>
                        {% endif %}
                        </span>
                        <span class="page_nav_next">
                        {% if page.next.url %}
                        <a class="next" href="{{page.next.url}}"><span class="page_nav_link">Newer →</span><br><span class="page_nav_title">{{page.next.title}}</span></a>
                        {% else %}
                        <span class="page_nav_no">No newer posts →|</span>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </article>
        </div>
<div class="col-sm-1 col-lg-1 col-md-1 col-xs-12 page-content-divider"></div>
<div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 page-content-sidebar s1920">
        


  <div class="sidebar-title">
    <a href="/archive/"><span class="icon"></span>RECENT POSTS</a>
	</div>
	<div class="recent-posts">
        {% for post in site.posts limit:15 %}
            <a class="recent-post" href="{{ BASE_PATH }}{{ post.url }}">
                <span class="recent-post-date">{{ post.date | date_to_string }}</span>
                <span class="recent-post-title" >{{ post.title }}</span>
            </a>
        {% endfor %}
</div>

<div id="amzn-assoc-ad-cc781bfd-577f-4efb-9da6-75cb9fc7d1c2"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=cc781bfd-577f-4efb-9da6-75cb9fc7d1c2"></script>
  
</div>

	</div>
</div>
